manifest {
    name            = 'nf-slack-task-notification'
    author          = 'Friederike Hanssen'
    description     = 'Per-task Slack notifications with the nf-slack plugin'
    nextflowVersion = '!>=24.04.0'
    version         = '1.0.0'
}

// Enable the nf-slack plugin.
plugins {
    id 'nf-slack@0.5.1'
}

slack {
  enabled = true
  webhook {
        url = System.getenv('SLACK_WEBHOOK_URL')
    }
  onStart {
    enabled = false
  }
  onComplete {
    enabled = false
  }
useThreads = true
}
